.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.financial-data {
  flex: 1;
  padding: 20px;
  max-width: 50%;
}

.financial-data div {
  margin-bottom: 15px;
}

.pie-chart {
  flex: 1;
  padding: 20px;
  max-width: 45%; /* Adjusted width */
  position: fixed;
  top: 50%;
  right: 5%; /* Adjusted right margin */
  transform: translateY(-50%);
}

#pieChart {
  width: 100%;
  height: auto;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slider-container {
  margin-bottom: 20px;
}

.slider-container label {
  display: block;
  margin-bottom: 5px;
}

.slider-container input[type="range"] {
  width: calc(100% - 20px); /* Adjusted width */
}

.slider-container span {
  display: inline-block;
  margin-left: 10px;
}
